body {
  margin: 0;
  font-family: 'helvetica neue',helvetica,arial sans;
  font-weight: normal;
}


/*
 ******************
 *     BANNER     *
 ******************
*/

.banner {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  height: 500px;
  color: #FFF;
  width: 100%;
  clear: both;
  position: relative;
}

.banner h1 {
  margin: 0;
  position: absolute;
  top: 15%;
  left: 13%;
  font-size: 2.85em;
  line-height: 1.25;
}


/*
 *****************
 *      NAV      *
 *****************
*/

.nav {
  width: 80%; 
  margin: 0 auto;
  clear: both;
  padding: 0 36px;
}

.nav-left {
  float: left;
  margin: 20px 0;
}
.page-name h2 {
  font-size: 2.5em;
  font-weight: normal;
  margin: 0;
}

.nav-right {
  float: right;
  margin: 40px 0 0 0;
}

.nav-list-item {
  display: inline;
  padding: 0 4px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}


/*
 *******************
 * CONTENT SECTION *
 *******************
*/

.content {
  position: relative;
}

.content-text {
  text-align: center;
  margin: 50px 0;
}

h2 {
  font-size: 2.2em;
  font-weight: normal;
  margin: 0;
}

.thumbnail {
  background-image: url(../img/grumpy1.jpg) ;
  display: inline-block;
  color: #FFF;
  width: 225px;
  height: 225px;
  position: relative;
}
.thumbnail h3 {
  background: rgba(0,0,0, 0.5);
  position: absolute;
  top: 4px;
  left: 4px;
  width: 96%;
  height: 56%;
  margin: auto;
  padding-top: 90px;
  /*padding-bottom: 90px;*/
}

.content-feed {
  width: 80%; 
  margin: 0 auto;
  clear: both;
  /*display: -webkit-inline-box;*/
  /*margin: 50px 0;*/
  display: inline-block;
  position: relative;
}
.feed-left {
  /*display: inline;*/
  /*position: absolute;*/
  clear: both;
  float: left;
}
.feed-right {
  /*padding-left: 20px;*/
  /*float: inherit;*/
}


/* 
 ****************
 *    FOOTER    *
 ****************
 */

.footer {
overflow: hidden;
}

/* 
 *************************
 *    UTILITY CLASSES    *
 *************************
 */

/* CLEARFIX */
.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

/* CENTER CONTENT BLOCKS */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 
 *****************
 *    COLUMNS    *
 *****************
 */

  /* small row */
  .col-sm-12 {
    width: 100%

  }

  .hide-small {
    display: none;
  }


@media screen and (min-width: 40.5em) {

  .hide-small {
    display: inherit;
  }

  .col-lg-2 {
   width: 18.6%;
  }

  /* large quarter */
  .col-lg-3 {
    width: 23.2%;
  }

  /* large one-third */
  .col-lg-4 {
    width: 32.0%;
  }

  /* large half */
  .col-lg-6 {
    width: 49.2%;
  }

  /* large two-thirds */
  .col-lg-8 {
    width: 65.6%;
  }

  /* large three-quarters */
  .col-lg-9 {
    width: 74.6%;
  }

  .col-lg-10 {
    width: 79.8%;
  }
  .col-lg-12 {
    width: 100%;
  }

}